.DS_Store
*.swp
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
test/data/icdar-groundtruth
tmp
/*.pdf
/*.csv

# YARD artifacts
.yardoc
_yardoc
doc/
